<h1> Homepage </h1>

<iframe src="https://giphy.com/embed/BZaGpT3O0EMiA" width="480" height="360" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/out-roll-autobots-BZaGpT3O0EMiA">via GIPHY</a></p>

<%= link_to 'About', about_path %>
